.title-login {
  margin-top: 10%;
}

hr {
  border: none;
  border-top: 1px solid #d9d9d9;
  text-align: center;
  overflow: visible;
  width: 75%;
}

hr:after {
  content: '또는';
  font-size: 0.9rem;
  position: relative;
  top: -10px;
  background-color: white;
  color: #474646;
  letter-spacing: -1px;
  padding: 0 10px;
}

.kakao-login {
  margin: 20% 0% 4% 12%;
}

.login-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
