.login {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin-top: 10%;
  letter-spacing: -1px;
  font-weight: 600;
}

.back {
  margin-left: -30%;
  margin-right: 32%;
  cursor: pointer;
}

.login-info {
  margin: 20% 0% 0% 15%;
  font-size: 1.4rem;
  letter-spacing: -1px;
  color: #000;
  font-weight: bold;
  line-height: 1.2;
}

.login-info2 {
  margin: 2% 0% 0% 15%;
  font-size: 0.8rem;
  letter-spacing: -0.5px;
  color: #474646;
  font-weight: 100;
}

.fast-login {
  margin: 10% 0% -14% 40%;
}

hr {
  border: none;
  border-top: 1px solid #d9d9d9;
  text-align: center;
  overflow: visible;
  width: 75%;
}

hr:after {
  content: '또는';
  font-size: 0.9rem;
  position: relative;
  top: -10px;
  background-color: white;
  color: #474646;
  letter-spacing: -1px;
  padding: 0 10px;
}

.kakao-login {
  margin: 13% 0% 2% 14%;
}

.login-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-login,
.naver-login {
  margin: 0 10px;
}
