.nickname {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin-top: 10%;
  letter-spacing: -1px;
  font-weight: 600;
}

.back {
  margin-left: -30%;
  margin-right: 27%;
  cursor: pointer;
}

.nickname-info {
  margin: 12% 0% 0% 10%;
  font-size: 1.3em;
  letter-spacing: -1px;
  color: #000;
  font-weight: bold;
  line-height: 1.2;
}

.separator {
  width: 88%;
  height: 1px;
  background-color: #d9d9d9;
  margin: 5% -1.5% -5% 0%;
}

.neccessary {
  font-size: 14px;
  color: #d50202;
  display: inline-block;
  vertical-align: middle;
  margin: -1% 0% 0% 2%;
}

.select {
  font-size: 14px;
  color: #22932d;
  display: inline-block;
  vertical-align: middle;
  margin: -1% 0% 0% 2%;
}
