.title-container {
  width: 75%;
  margin: 10% auto 0 auto;
}

.mypage-select-menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  margin: 5% auto 0 auto;
  width: 75%;
}

.title {
  font-size: 3.5rem;
  margin: 10% 0 8% 12%;
  letter-spacing: -1px;
  font-family: pretendard-bold;
  align-items: center;
  width: 70%;

  .title-title {
    margin-left: 1%;
    font-size: 14px;
    font-weight: 100;
  }
}

.title-intro {
  letter-spacing: -1px;
  font-family: pretendard-semiBold;
  font-size: 2rem;
  margin-left: 0.3rem;
}

.my-social-type {
  font-size: 2rem;
  color: #474646;
  letter-spacing: -1px;
  font-family: Pretendard-SemiBold;
  margin-top: 1rem;
}

.menu-contact,
.menu-event,
.menu-edit,
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: transform 0.3s ease; /* 변환 효과가 0.3초 동안 일어나도록 설정 */
}

.menu-contact:hover,
.menu-event:hover,
.menu-edit:hover,
.menu:hover {
  color: #ff8d1d;
  transform: scale(1.05);
}
.menu {
  gap: 25px;
  height: 100%;
}

.letter {
  letter-spacing: -1px;
  font-family: Pretendard-semiBold;
  color: #474646;
  font-size: 1.5rem;
}

.title-info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bun-title {
  letter-spacing: -1px;
  margin: 4% 0% 0% 12%;
}

.user-nickname {
  font-size: 25px;
  font-weight: 600;
}

.mypage-bun-count {
  font-size: 25px;
  font-weight: 600;
}

.login-status {
  font-size: 1.1rem;
  font-weight: 500;

  color: rgba(109, 109, 109, 1);
}

.my-page-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #fffdfb !important;
}

.my-tag{
  font-size : 1.5rem;
  color : #FF8D1D;
  width:12rem;
  height:3rem;
  border-Radius : 20px;
  padding : 1% 2.5%;
  border: 1px solid #FF8D1D;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}