.notice-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Pretendard-Regular';
  gap: 10px;
  border-bottom: 1px solid rgba(125, 125, 125, 0.193);
  cursor: pointer;
  outline: none;
  line-height: 1.5;
  padding: 0 1.25rem;

  h3 {
    font-size: 12px;
    margin-top: 13px;
  }

  h2 {
    font-size: 16px;
  }
}

.panel {
  background-color: #fafafa;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  max-height: 0;
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.625rem;
  display: block;

  > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
  }

  > div:nth-child(2) {
    margin-bottom: 1.25rem;
  }

  h3 {
    font-weight: bold;
  }
}

.notice-list.active .panel {
  max-height: 326px;
  font-size: 12px;
}

.button-container {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
  padding: 0 10px;
  position: sticky;
  inset: 0;
  // width: 100%;
}

.notice-button {
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: small;
  text-align: center;
  padding-top: auto;
  border: solid 1px #cacaca;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    box-shadow 0.3s;
}

.notice-button:hover {
  background-color: #ff8d1d;
  color: #ffffff;
  font-weight: bold;
}
