.secession-info {
  letter-spacing: -1px;
  margin: 0.5% 0% 5% 0%;
  font-size: 20px;
  font-family: pretendard-bold;
}

.user-nickname-container {
  letter-spacing: -1px;
  margin: 10% 15% 10% 15%;
  font-size: 22px;
  font-family: pretendard-bold;
}

.user-nick-cover {
  font-family: pretendard-regular;
}

.warning-info {
  letter-spacing: -1px;
  font-size: 1rem;
  padding-left: 2rem;
  font-family: pretendard-semiBold;
}

.agreement-section {
  width: 22rem;
}

.agreeSecession {
  letter-spacing: -1px;
  margin: 5% 0% 0% 1%;
  font-family: pretendard-bold;
  font-size: medium;
  color: #000000;
}

button.secession-cancel-btn {
  width: 47%;
  height: 3rem;
  border-radius: 1px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: black;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 3%;
}

.confirm-secession-btn {
  width: 47%;
  height: 3rem;
  border-radius: 1px;
  margin-bottom: 10%;
  margin-left: 0%;
  background-color: #ff8d1d;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;

  &:hover {
    background-color: #ff8d1d;
    color: white;
  }

  &.disabled {
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
  }
}

.secession-reason {
  font-size: 1rem;
  margin: 10% 0% 0% 0%;
  letter-spacing: -1px;
  font-family: pretendard-bold;
  color: rgba(71, 70, 70, 1);
}

.secession-complete-container {
  width: 100%;
  margin: 35% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secession-complete-title {
  font-weight: 600;
  font-size: x-large;
  padding-bottom: 0.5rem;
}

.warning1 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 5rem;
}
