.secession-info {
  letter-spacing: -1px;
  margin: 0.5% 0% 5% 0%;
  font-size: 20px;
  font-family: pretendard-bold;
}

.user-nickname-container {
  margin: 25% 15% 10% 15%;
}
.user-nickname {
  font-size: 3.5rem;
  color: #000000;
  letter-spacing: -1px;
  font-family: Pretendard-Bold;
  padding-bottom: 0.2rem;
}
.user-nick-cover {
  font-size: 2.8rem;
  color: #474646;
  letter-spacing: -1px;
  font-family: Pretendard-Bold;
}

.warning-info {
  font-size: 1.8rem;
  color: #474646;
  letter-spacing: -1px;
  font-family: Pretendard-SemiBold;
  padding-left: 2rem;
}

.agreement-section {
  width: 505px;
  display: flex;
  align-items: center;
}

.agreeSecession {
  letter-spacing: -1px;
  margin-left: 2%;
  font-family: pretendard-bold;
  font-size: medium;
  color: #000000;
}
.agreement-checkbox {
  width: 23px;
  height: 23px;
}

button.secession-cancel-btn {
  width: 220px;
  height: 45px;
  border-radius: 0px;
  border: 1px solid #d9d9d9;
  background-color: transparent;
  font-size: 1.8rem;
  color: #000000;
  letter-spacing: -1px;
  font-family: Pretendard-Bold;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 3%;
}

.confirm-secession-btn {
  width: 220px;
  height: 45px;
  border-radius: 0px;
  margin-bottom: 10%;
  margin-left: 0%;
  font-size: 1.8rem;
  letter-spacing: -1px;
  font-family: Pretendard-Bold;
  background-color: #ff8d1d;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 5px;

  &:hover {
    background-color: #ff8d1d;
    color: white;
  }

  &.disabled {
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
  }
}

.secession-reason {
  font-size: 1.8rem;
  color: #474646;
  letter-spacing: -1px;
  font-family: Pretendard-SemiBold;
  margin: 10% 0% 0% 0%;
}

.secession-complete-container {
  width: 100%;
  margin: 35% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secession-complete-title {
  font-weight: 600;
  font-size: x-large;
  padding-bottom: 0.5rem;
}

.warning1 {
  width: 100%;
  margin: 3rem auto;
  display: flex;

  align-items: center;
  height: 5rem;
}
