@mixin button-style {
  width: 70%;
  padding: 12px 0;
  margin-left: 14%;
  font-size: 16px;
  color: #ffffff;
  background-color: #ff8d1d;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard-Bold;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;

  &:hover {
    background-color: #ff8d1d;
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
}

.info-questionWrite {
  letter-spacing: -0.5px;
  font-size: 20px;
  width: 90%;
  font-family: Pretendard-SemiBoldf;
  margin: 5% 0% 10% 5%;
  color: #334155;
}

.question-title-input {
  width: 70%;
  margin-left: 14%;
  margin-bottom: 2%;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #d1d5db;
  background-color: transparent;
  color: #1f2937;

  &:focus {
    outline: none;
    border-bottom-color: #ff8d1d;
  }

  &::placeholder {
    letter-spacing: -1px;
  }
}

.question-title-input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard-Light;
}

.question-input {
  scrollbar-width: none;
  color: #808080;
  height: 270px;
  width: 485px;
  margin: 2% 0% -0.7% 1%;
  font-family: Pretendard-Light;
  font-size: 1.5rem;
  letter-spacing: -1px;
  margin-left: 14%;
  border-radius: 10px;
  border: 0.5px solid #d9d9d9;
  padding: 1.75rem;
  line-height: 2.8;
  text-align: left;
  resize: none;
}
.question-input::placeholder {
  font-size: 1.5rem;
  color: #808080;
  letter-spacing: -1.5px;
  font-family: Pretendard-Light;
  line-height: 3rem;
}

select {
  margin-top: 10px;
}

.register-button {
  width: 80%;
  padding: 12px 0;
  margin-top: 15%;
  margin-left: 10%;
  font-size: 16px;
  color: #ffffff;
  background-color: #ff8d1d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard-Medium', sans-serif;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;

  &:hover {
    background-color: #ff8d1d;
    transform: translateY(-2px);
    box-shadow:
      0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);
  }
}

.company-name {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  // width: 100%;
  height: 48px;
  left: 9rem;
  margin: 4% 0;
  span {
    width: 100%;
    font-weight: 900;
    font-family: 'Pretendard-ExtraBold';
    font-size: 3.5rem;
    letter-spacing: -1px;
  }
}

.tag-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
  align-items: center;
  width: 100%;
  position: relative;
  left: 9.5rem;
  letter-spacing: -1.2px;

  span {
    overflow-wrap: break-word;
    font-family: 'Pretendard-Light';
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: -0.1rem;
    color: #000000;
  }
}

.tag-wrapper {
  margin: 0.2rem 0.6rem 0.1rem 0;
  display: flex;
  justify-content: center;
  width: 0.9rem;
  height: 1.2rem;
  box-sizing: border-box;
}

.finger-image {
  width: 1.8rem;
  height: 1.8rem;
}

.tag-select-wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  row-gap: 10px;
  margin-bottom: 4rem;
}
.centered-tag {
  margin-left: -5rem;
}
.gray-tag-selects {
  border-radius: 20px;
  position: relative;
  margin-right: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1% 2.5% 1% 2.5%;
  box-sizing: border-box;
  border: 0.05rem solid #d1d5db;
  letter-spacing: -1px;
  color: #47474c;
  background-color: #bcbcbc;
  color: #ffffff;
}

.tag-select {
  border-radius: 20px;
  position: relative;
  margin-right: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1% 2.5% 1% 2.5%;
  box-sizing: border-box;
  border: 0.05rem solid #d1d5db;
  letter-spacing: -1px;
  color: #47474c;

  span {
    display: flex;
    justify-content: center;
    overflow-wrap: break-word;
    font-family: 'Pretendard-semiBold';
    font-size: 1.6rem;
    letter-spacing: -0.1rem;
  }
  &:active {
    border: 0.05rem solid #ff8d1d;
    background-color: #ff8d1d;
    color: #ffffff;
    // font-family: 'Pretendard-Bold';
  }
  button {
    width: 3rem;
  }

  &:hover {
    cursor: pointer;
  }

  &.selected {
    border: 0.05rem solid #ff8d1d;
    background-color: #ff8d1d;
    color: #ffffff;
  }
}

.category-select {
  font-size: 1.3rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 2.5% 1% 2.5%;
  box-sizing: border-box;
  border: 1px solid #bcbcbc;
  color: #47474c;
  span {
    overflow-wrap: break-word;
    font-family: Pretendard;
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: -0.1rem;

    display: flex;
    justify-content: center;

    width: 7rem;
  }
  &:active {
    background-color: #ff8d1d;
    color: #ffffff;
  }

  &:hover {
    cursor: pointer;
  }

  &.selected {
    border: 2px solid #ff8d1d;
    background-color: #ff8d1d;
    color: #ffffff;
  }
}

.category-container {
  margin: 1.2rem 21.9rem 1.3rem 3.2rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  left: 6.5rem;
  span {
    overflow-wrap: break-word;
    font-family: Pretendard;
    font-weight: 600;
    font-size: 1.8rem;
    // width: 14rem;
    letter-spacing: -0.1rem;
    color: #000000;
    margin-bottom: 14px;
  }
}

.category-wrapper {
  margin: 0.2rem 0.6rem 0.1rem 0;
  display: flex;
  justify-content: center;
  width: 0.9rem;
  height: 1.2rem;
  box-sizing: border-box;
}

.category-select-wrapper {
  display: flex;
  justify-content: center;
  gap: 14px;
  overflow-x: scroll;
  margin-left: 14%;
  margin-bottom: 5%;
  width: 70%;
  padding: 0 10px 10px 37rem;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-radius: 10px;
  }
}

.category-select {
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 2.5% 1% 2.5%;
  box-sizing: border-box;
  border: 0.5px solid #d1d5db;
  color: #474646;
  span {
    overflow-wrap: normal;
    font-family: Pretendard-SemiBold;
    font-size: 1.6rem;
    letter-spacing: -0.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10rem;
    height: 3rem;
  }

  &.selected {
    border: 2px solid #ff8d1d;
    background-color: #ff8d1d;
    color: #ffffff;
  }
  &:active {
    background-color: #ff8d1d;
    color: #ffffff;
  }

  &:hover {
    cursor: pointer;
  }
}

.register-question-button {
  @include button-style;
  margin-top: 3%;
  margin-bottom: 15%;

  &.selected {
    border: 2px solid #ff8d1d;
    background-color: #ff8d1d;
    color: #ffffff;
  }

  // &:disabled {
  //   background-color: #d9d9d9;
  //   color: #fff;
  //   cursor: not-allowed;
  //   box-shadow: none;
  // }
}
.disabled {
  background-color: #d9d9d9;
  color: #fff;
  cursor: not-allowed;
  &:hover {
    background-color: #d9d9d9;
    color: #fff;
    cursor: not-allowed;
  }
}
