$job-seeker: '취준생';
$job-keeper: '현직자';

.question-detail-container {
  margin-top: 5%;
  padding: 35px;
}

.answer-button-container {
  display: flex;
  justify-content: space-around;
  height: 200px;
}

.detailpage-company {
  font-size: 15px;
  letter-spacing: -1px;
  display: inline-block;
  color: white;
  background-color: #ff8d1d;
  padding: 5px 15px;
  border-radius: 20px;
  margin-left: 1.5%;
  font-family: pretendard-medium;
}

.company-fish-tag {
  display: flex;
  align-items: center;
  margin: 2.5% 0 0 2.5%;
}

.detailpage-fishbuncount {
  font-size: 15px;
  letter-spacing: -1px;
  display: inline-flex;
  justify-content: space-evenly;
  color: #ff8d1d;
  border: 1px solid #ff8d1d;
  padding: 5px 8px;
  border-radius: 20px;
  margin-left: 1.5%;
  font-family: pretendard-bold;
  img {
    padding: 0;
    width: 25px;
  }
  width: 83px;
}

.questioner-info {
  display: flex;
  justify-content: space-between;
  letter-spacing: -1px;
}

.questionicon-img {
  margin-right: 1.5%;
}

.question-date {
  color: #666;
  font-size: 1.5rem;
  font-size: 'Pretendard-Medium';
  letter-spacing: -1px;
  margin-right: 3.5%;
  margin-top: 1%;
  color: #474646;
}

.view-info-container {
  margin-top: 5%;
  position: relative;
  right: -69%;
}

.answer-img {
  margin-left: 2%;
  margin-bottom: -1.5%;
}

.answer-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  width: 88%;
  margin: 5% 0;
  letter-spacing: -1px;
  margin-right: 7%;
  span {
    width: 100%;
  }
}

.answer-count {
  font-size: 12px;
}

.answerview-img {
  margin-bottom: -1.5%;
  margin-left: 3%;
}

.answerview-count {
  font-size: 12px;
  margin-left: 1%;
}

.report-img {
  margin-bottom: -0.5%;
  margin-left: 3%;
  cursor: pointer;
}

.comment-section {
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
  margin-left: 7%;

  .comment-input {
    resize: none;
    width: 100%;
    background: #f6f6f6;
    display: flex;
    padding: 15px 15px;
    padding-right: 80px;
    border: 1px solid #cecece;
    border-radius: 10px;

    &:focus {
      outline: none;
      border-color: #ccc;
    }
    &::placeholder {
      letter-spacing: -1px;
      font-size: 1.5rem;
      color: #ccc;
      letter-spacing: -1px;
    }
    &:not(.selected) {
      background-color: transparent;
    }
  }

  .submit-comment {
    position: absolute;
    right: 2%;
    transform: translateY(-50%);
    padding: 5px 3px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
  }
}

.report-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.report-popup {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .report-title {
    letter-spacing: -1px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 20px;
    font-family: pretendard-semibold;
  }

  .report-sub-title {
    letter-spacing: -1px;
    margin-bottom: 5%;
    text-align: center;
    font-size: 14px;
  }

  label {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    letter-spacing: -1px;
    padding: 10px 10px;
  }

  input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    border: 0.25rem solid green;
    border-radius: 0.5rem;
  }

  input[type='checkbox']::before {
    content: '';
    width: 1rem;
    height: 1rem;

    transform: scale(0);
    background-color: green;
  }

  input[type='checkbox']:checked::before {
    transform: scale(1);
  }

  .reportBtn {
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }

  .report-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .submit-report,
  .close-report-popup {
    border-radius: 1px;
    padding: 20px;
    width: 60%;
    margin: 0;
  }

  .submit-report {
    background-color: #474646;
  }
}

.job-info {
  font-weight: 600;
  margin-left: 5%;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
  width: 100%;
  span {
    margin-right: 60%;
    @if $job-seeker == '취준생' {
      color: #875100;
    } @else {
      color: #428238;
    }
  }
  img:first-child {
    margin-right: 7px;
  }
  img:last-child {
    cursor: pointer;
  }
  color: #875100;
}
