.header {
  position: relative;
  display: flex;
  align-items: center;
}

img.hambar {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-top: -3.5%;
  cursor: pointer;
  z-index: 1;
}
