.login-btn {
  width: 100px;
  height: 30px;
  margin-left: 53px;
  margin-top: -0.5rem;

  font-size: 1.5rem;
  font-family: 'pretendard-Bold';
  border: 0.1px solid #fefefe;
  background-color: #ff8d1d;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: -1.2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.loginuser {
  display: flex;
  list-style-type: none;
  background: none;
  border: none;
  padding: 0;
  margin-top: -4.3rem;
  margin-left: 30%;
  cursor: pointer;
}

.fishbun-reward {
  padding: 0;
}

.reward-fish {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -3.5%;
  margin-left: 52%;
  cursor: pointer;
  padding: 0;
}

.bun-count {
  font-size: 1.6rem;
  margin-top: 1.2%;
  font-family: Pretendard-Medium;
}

.dropdown-menu {
  position: relative;
  z-index: 500;

  ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 120px;
    max-height: 350px;
    border-radius: 5px;
    margin-left: 70%;
    margin-top: 7%;
  }

  .dropdown-item,
  .dropdown-item-store,
  .dropdown-item-logout,
  .dropdown-item-main {
    letter-spacing: -1px;
    font-weight: 500;
    padding: 5px 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: none;
    }
  }

  // .dropdown-item-main {
  //   margin-top: -%;
  //   margin-bottom: 10%;
  // }

  .dropdown-item {
    margin-top: 15%;
  }

  .dropdown-item-store {
    margin-top: -10%;
    margin-bottom: 0%;
  }

  .dropdown-item-logout {
    margin-top: -10%;
    margin-bottom: 10%;
  }

  hr {
    border: none;
    border-top: 1px solid #d9d9d9;
    text-align: center;
    overflow: visible;
    z-index: 10;
  }

  hr:after {
    content: '';
    z-index: 1;
    background: none;
  }

  .down-hr {
    margin-top: 0%;
    border-top: 1px solid #fff;
  }

  .up-hr {
    margin-top: 0%;
    border-top: 1px solid #fff;
  }
}
.userInfo-container {
  z-index: 300;
}
