.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > div {
  float: left;
  text-align: center;
  background-color: #fefefe;
  line-height: 45px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.icon {
  font-size: 1.3rem;
  margin-top: 10%;
}

.text {
  margin-top: -9%;
  margin-bottom: -8px;
  font-size: 0.7rem;
  letter-spacing: -1px;
}

.active {
  color: #ff8d1d;
}
