.main-page-container {
  width: 480px;
  height: 100vh;
  margin: 0 auto;
  padding: 0.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.coverflow {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin: 35% 0% -44% 0%;
  color: #ff8d1d;
}

.main-info {
  text-align: center;
  margin-top: 45%;
  font-size: 0.9rem;
  letter-spacing: -1px;
  color: #000;
  font-weight: 500;
}

.main-info-bold {
  font-weight: 600;
}

.main-logo {
  margin: 40% 0% -44% 24%;
}

.search-input-text {
  letter-spacing: -1px;
}

.search {
  margin: 1% 0% -0.6% -7%;
  cursor: pointer;
}
