.main-page-deco {
  // background: linear-gradient(to bottom, #ffffff, #fff3e7);
  background: linear-gradient(to bottom, #ff8d1d 365px, #ffffff 0%);
}

.coverflow {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin: 35% 0% -44% 0%;
  color: #ff8d1d;
}

.main-info {
  text-align: center;
  margin-top: 22.5%;
  font-size: 2.8rem;
  letter-spacing: -1.5px;
  color: #000;
  font-weight: 500;
  line-height: 1.3;
}

.main-info-bold {
  font-family: 'pretendard-extraBold';
}

.white-bold {
  font-family: 'pretendard-extraBold';
  color: #ffffff;
}

.main-logo {
  margin: 40% 0% -44% 24%;
}

.search-input-text {
  letter-spacing: -1px;
}

.search {
  margin: 0 0 -1% -7%;
  cursor: pointer;
}
