@mixin company-title {
  letter-spacing: -1px;
  margin: 10% 0% 0% 13%;
  font-size: 18px;
  color: #ff8d1d;
  font-family: 'Pretendard-Black';
}

.company-result-title {
  @include company-title;
  font-family: 'Pretendard-Black';
}

.company-question-title {
  display: flex;
  position: relative;
  @include company-title;
}

.question-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.company {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.main-company-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
  margin-left: 4%;
}

.sub-info {
  gap: 5px;
  font-size: 15px;
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.company {
  display: flex;
  justify-content: space-around;
}
