.company-result-title {
  letter-spacing: -1px;
  margin: 10% 0% 0% 10%;
  font-weight: bold;
  font-size: 18px;
  color: #ff8d1d;
}

.company-question-title {
  letter-spacing: -1px;
  margin: 10% 0% 0% 10%;
  font-weight: bold;
  font-size: 18px;
  color: #ff8d1d;
}

.question-info-container {
  display: flex;
  justify-content: space-between;
}

.company {
  display: flex;
  justify-content: space-between;
}

.main-company-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15%;
  white-space: nowrap;
}

.sub-info {
  gap: 5px;
  font-size: 15px;
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  margin-left: 80%;
  white-space: nowrap;
}
