$color-primary: #ff8d1d;

.company-form,
.location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.regist-company-name,
.regist-company-industry,
.regist-company-province {
  font-weight: 600;
  letter-spacing: -1px;
  margin-top: 10%;
  align-self: flex-start;
}

.regist-company-name span,
.regist-company-industry span,
.regist-company-province span {
  font-size: 2.5rem;
  color: #000000;
  letter-spacing: -1px;
  font-family: 'Pretendard-Bold';
}

.input-field-regist,
.option-field {
  letter-spacing: -1px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ddd;
  margin: 10px 0;
  width: 80%;
  background-color: transparent;
  transition: border-color 0.3s;
  padding: 8px 0;
  height: 50px;
}

.input-field-regist::placeholder,
.option-field::placeholder,
#type,
#city {
  color: #cacaca;
  opacity: 1;
  padding: 0 8px;
  font-size: 1.8rem;
  letter-spacing: -1px;
  font-family: 'Pretendard-Regular';
}

.input-field-regist:focus,
.option-field:focus {
  border-color: $color-primary;
  outline: none;
}

.input-field-regist:hover,
.option-field:hover {
  border-color: $color-primary;
  background-color: transparent;
}

.regist-company-name,
.regist-company-industry,
.regist-company-province {
  margin-left: 10%;
}

.submit-regist {
  width: 520px;
  height: 45px;
  border-radius: 0;
  background-color: $color-primary;
  span {
    font-size: 2rem;
    color: #ffffff;
    letter-spacing: -1px;
    font-family: 'Pretendard-Bold';
  }

  &:disabled {
    background-color: #d9d9d9;
    color: #fff;
    cursor: not-allowed;
    box-shadow: none;
  }

  &.selected {
    border: 2px solid #ff8d1d;
    background-color: #ff8d1d;
    color: #ffffff;
  }
}

.regist-company-name,
.regist-company-industry,
.regist-company-province {
  .neccessary {
    margin-left: 3px;
    color: #d50202;
  }
}
