.result-count {
  color: #ff8d1d;
  margin-left: 1.5%;
}

.divider {
  color: #000;
}

.result-data-failed {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  letter-spacing: -1px;
  align-items: center;
}

.warning-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  margin-top: 20%;
  margin-bottom: 3%;
}

.failed-text {
  font-family: pretendard-bold;
  color: #474646;
  font-size: 25px;
  margin-bottom: 1%;
}

.failed-text2 {
  font-family: pretendard-light;
  color: darkgray;
  margin-bottom: 5%;
}

.registContainer {
  display: flex;
  justify-content: center;
  border: 1px solid #ff8d1d;
  width: 12.5rem;
  border-radius: 1.8rem;
  height: 2.8rem;
  align-items: center;
}

.plus-icon {
  width: 13px;
  height: 13px;
}

.company-registration {
  display: flex;
  color: #ff8d1d;
  font-size: 1rem;
  letter-spacing: -1px;
  font-family: pretendard-medium;
}
