.img-container {
  position: absolute;
  right: 4rem;
  padding: 0;
  top: 29%;
}

.premium-banner {
  width: 100%;
}

.banner-text {
  span {
    font-size: 2.5rem;
    color: #000000;
    letter-spacing: -1px;
    font-family: Pretendard-ExtraBold;
  }
}
