.textarea-field-contact,
.option-field {
  letter-spacing: -1px;
  font-size: 0.9rem;
  border: none;

  margin: 20px 0;
  width: 100%;
  background-color: rgba(242, 242, 242, 1);
  transition: background-color 0.3s;
  padding: 1rem 0.3rem;
  text-indent: 0.5rem;
  height: 10rem;
  resize: none;

  &::placeholder {
    color: #474646;
    opacity: 1;
    text-indent: 0.5rem;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba(199, 199, 199, 0.822);
  }
}

.round {
  border-radius: 1rem;
  height: 15rem;
}
