.store-wrapper {
  width: 100%;
  height: 100%;
  padding: 3rem 0;
}

.no-fish-purchase {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fish-disclaimer {
  font-family: pretendard-bold;
  font-size: 3rem;
  color: black;
  padding-top: 1rem;
  letter-spacing: -1px;
}

.fish-purchase-item {
  width: 100%;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  height: 9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3% 0;
}

.fishbun-cnt {
  font-family: pretendard-bold;
  font-size: 2rem;
  padding-bottom: 0.2rem;
  letter-spacing: -1px;
}

.fishbun-price {
  font-family: pretendard-SemiBold;
  font-size: 1.6rem;
  letter-spacing: -1px;
  color: #474646;
  span {
    font-family: pretendard-medium;
    color: #808080;
    padding-left: 0.5rem;
  }
}

.store-container {
  padding-top: 3rem;
  margin: 0px auto;
  width: 540px;
}
