.ad-companySelection-container {
  width: 100%;
  height: 100%;
}

.ad-search {
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  border-radius: 10px;
  border: 1px solid #909090;
  background-color: #f4f3f3;
  position: relative;
  margin: 2rem auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 34.2px 0 0;
  width: 895px;
  box-sizing: border-box;
}

.search-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-divider {
  border: none;
  border-right: solid 1px #909090;
  background-color: transparent;

  margin: 0 30px 0 0;

  width: 10rem;
  height: 61px;
  display: flex;
  align-items: center;
  &:focus {
    outline: none;
  }
}

.search-prompt {
  margin: auto 0 auto 0;
  width: 40rem;
  height: 3rem;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: -1.4px;
  color: #909090;
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.toggle-icon {
  margin: 0 0 0 80%;
  width: 1rem;
  height: 1rem;
}

.search-icon {
  margin-top: 1.5%;
  width: 2rem;
  height: 2rem;
}

.ad-searchOption-detail {
  width: 100%;
  height: 55%;
  background-color: rgba(244, 243, 243, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0 0 10rem;
}

.ad-searchOption {
  width: 100%;
  height: 35%;
  background-color: rgba(244, 243, 243, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
}

.ad-searchOption-item {
  width: 20rem;
  display: flex;
  padding-bottom: 2%;
  justify-content: space-between;
  align-items: center;
}

.ad-searchOption-select {
  width: 60%;
  height: 2rem;
  background-color: rgba(217, 217, 217, 1);
  border: none;
}

.ad-searchOption-title {
  color: rgba(144, 144, 144, 1);
}

.ad-searchResult-header,
.ad-searchResult-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  height: 3rem;
  span {
    flex: 1;
    text-align: center;
  }
}

.admin-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad-cnt-num {
  font-weight: bolder;
  font-size: 1.5rem;
  color: #ff8d1d;
  padding-right: 0.5rem;
}

.common-button-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem auto 10rem auto;
  height: 2rem;
  width: 50rem;
}

.ad-cnt {
  padding: 0 0 1rem 1rem;
  font-weight: bolder;
  font-size: 1.2rem;
}

.ad-result {
  border: 1px solid #ccc;
}

.ad-detail {
  background-color: rgba(217, 217, 217, 1);
  padding: 0.5rem 2rem;
  border-radius: 0.7rem;
  border: solid 0.5px #242424;
}

.ad-company-title {
  font-weight: bolder;
  font-size: xx-large;
  padding: 3rem;
}

.ad-feedbackSelection-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad-feedbackSelection {
  margin: 5rem 3rem 0 3rem;
  width: 100%;
  height: 80%;
}

.ad-feedback-result {
  border: 1px solid gray;
  height: fit-content;
  min-height: 73%;
}

.ad-feedbackSelection-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad-feedbackSelection {
  margin: 5rem 3rem 0 3rem;
  width: 100%;
  height: 80%;
}

.ad-feedback-result {
  border: 1px solid gray;
  height: fit-content;
  min-height: 73%;
}
.ad-feedback-content {
  width: 50%;
  min-height: 5rem;
  margin-left: 50%;
  padding: 1rem;
}
