.tag-input {
  width: 85%;
  margin-left: 0.5rem;
}
.fish-disclaimer-info {
  font-size: 1.2rem;
  color: #474646;
  letter-spacing: -1px;
  font-family: 'Pretendard-Medium';
  position: absolute;
  top: -14px;
  left: 16px;
}

.fish-explanation-title {
  margin-top: 4rem;
}
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  margin-left: 16%;
  width: 82%;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #d9d9d9;
    border-radius: 5px;
  }

  .reward-tag {
    flex: 0 0 auto;
    width: 80px;
    letter-spacing: -1px;
    border-radius: 30px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    margin-right: 10px;

    &.selected {
      border: 2px solid #ff8d1d;
      background-color: #ff8d1d;
      color: #ffffff;
    }

    &:not(.selected) {
      border: 1px solid #d1d5db;
      background-color: #f8fafc;
      color: #1f2937;
    }
  }
}

.fish-info {
  font-family: pretendard-medium;
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 3%;
  letter-spacing: -1px;
}
