.secession-reason-dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5% 0% 10% 0%;
}

.secession-reason-label {
  margin-bottom: 10px;
  font-weight: bold;
}

.secession-reason-select {
  border: 1px solid #474646;
  outline: none;
  background-color: transparent;
  position: relative;
  padding: 10px;
  letter-spacing: -1px;
  width: 470px;
  height: 45px;
  border-radius: 20px;
  font-size: 1.5rem;
  color: #474646;
  background-image: url('../../../image/admin-toggle.svg');
  background-repeat: no-repeat;
  background-position: right 20px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.secession-reason-select:focus {
  border-color: #ff8d1d;
}

.secession-reason-select::-ms-expand {
  display: none;
}

.secession-reason-dropdown:after {
  pointer-events: none;
  color: #000;
}
