.secession-reason-dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5% 0% 0% 0%;
}

.secession-reason-label {
  margin-bottom: 10px;
  font-weight: bold;
}

.secession-reason-select {
  letter-spacing: -1px;
  padding: 10px 0;
  margin-right: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

.secession-reason-select:focus {
  border-color: #ff8d1d;
}

.secession-reason-select::-ms-expand {
  display: none;
}

.secession-reason-dropdown:after {
  pointer-events: none;
  color: #000;
}
