.secession-reason-dropdown {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 5% 0% 0% 14%;
}

.secession-reason-label {
  margin-bottom: 10px;
  font-weight: bold;
}

.secession-reason-select {
  letter-spacing: -1px;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

.secession-reason-select:focus {
  border-color: #007bff;
}

.secession-reason-select::-ms-expand {
  display: none;
}

.secession-reason-dropdown:after {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 15px;
  pointer-events: none;
  color: #000;
}
