.notification-list {
  margin-bottom: 10%;
  width: 71rem;
  margin-left: -2%;

  .notification-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 3rem 3rem 5rem;

    background-color: #ffffff;
    border-top: 0.5px solid #d9d9d9;
    height: 14rem;

    &.checked {
      background-color: white;
    }

    &.unchecked {
      background-color: #fff9f4;
    }

    .notification-icon {
      margin-left: 5%;
    }

    .notification-title {
      letter-spacing: -1px;
      flex-grow: 1;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 2rem;
    }

    .notification-time {
      letter-spacing: -1px;
      margin-right: 10px;
      color: #474646;
      font-size: 1.5rem;
    }

    .title-time {
      display: flex;
      margin-left: -40%;
      flex-direction: column;
      letter-spacing: -1px;
    }

    .notification-company {
      letter-spacing: -1px;
      font-family: pretendard-black;
      color: #333333;
      font-size: 1.8rem;
      margin-right: 5%;
    }
  }
}
